@import 'node_modules/bootstrap/scss/bootstrap';

@import "fonts";
@import "variables";

// other sass imports here

body {
    color: $color-white;
    background: $color-black;
    font-family: $font-family-poppins;
}